.footer{
    background-color: #2C3E50;
}

.icons{
    margin-right: -10px;
}
.icons span i{
    width: 35px;
    height: 35px;
    border: 1px solid;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 35px;
    font-weight: 900;
}

.footer-bottom{
    background-color: #1A252F;
}
